/* *,
*::after,
*::before {
    background-color: black;
} */

.container {
    max-width: 560px;
    margin: auto;
    padding: 30px;
}

.input {
    width: 100%;
    display: block;
    padding: 15px;
    font-size: 30px;
    color: #111;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}